body{
    background-color:#29c8f9;
}
h1{
    color:blueviolet;
}
h3{
    color:rgb(110, 226, 43);
}
hr{
    background-color: red;
    border-style: dotted;
    border-width: 2px;
    height:0px;
    
}